extends ../layout

block content
  div.row
    div.col-md-5
      form(method="post" action="/admin/blogs/create")
        div.form-group
          label Short Name
          input(type="text" class="form-control" name="short_name")
        div.form-group
          label Name
          input(type="text" class="form-control" name="name")
        div.form-group
          label Short Description
          textarea(name="short_desc" class="form-control")
        div.form-group
          label Content
          textarea(name="content" class="form-control")
        div.form-group
          input(type="submit" class="btn btn-success" value="Publish")
