form(method="post" action="/login")
  div
    input(type="text" name="name" placehoder="name")
  div
    input(type="password" name="password" placeholder="Password")
  div
    input(type="submit" value="Login")